# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform/terraform.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Backups
backups/
*.tar.gz

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/